// Date picker

.dp-cal {
	display: inline-block;
	background: @white;
	border-radius: @borderRadiusS;
	box-shadow: 1px 1px 4px fade(@black, 20%);

	dt {
		padding: @spacingS @spacingM;
		background: @blue-3;
		color: @white;
		text-align: center;
		border-radius: @borderRadiusS @borderRadiusS 0 0;

		a {
			color: @white;
			font-size: .8em;
		}

		.dp-cal-prev-year, .dp-cal-prev-month { float: left; }
		.dp-cal-next-year, .dp-cal-next-month { float: right; }
	}

	table {
		width: auto;
	}

	th, td {
		padding: .6em .75em;
		text-align: center;
		cursor: default;
	}

	th {
		background: tint(@black, 92%);
		font-weight: normal;
		color: tint(@black, 51%);
		border-bottom: 1px solid tint(@black, 78%);
	}

	td {
		border-top: 1px solid tint(@black, 85%);
		border-left: 1px solid tint(@black, 85%);

		&:first-child {
			border-left: none;
		}

		&.dp-cal-other-month {
			color: tint(@black, 70%);
			font-weight: normal;
		}

		&.dp-cal-today {
			background: tint(@blue-3, 50%);
			color: @white;
		}

		&:hover {
			background: @blue-3;
			color: @white;
		}
	}

	tr:first-child {
		td {
			border-top: none;
		}
	}
}
